<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> <%= title %> </title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<style type="text/css">
	table{width: 400;}
	th{background-color: gray;}
	</style>

	<script>
	function blankCheck(el, msg){
		if(el.value == ""){
			alert(msg);
			el.focus();
			return false;
		}else{
			return true;
		}
	}

	function lengthCheck(el, min, max, msg){
		if (el.value.length < min || el.value.length > max) {
			alert(msg);
			el.value="";
			el.focus();
			return false;
		}else{
			return true;
		}
	}

	function check(){
		var id = document.frm1.id.value;
		var pw = document.frm1.pw.value;
		var pw2 = document.frm1.pw2.value;
		var name = document.frm1.name.value;
		var t1 = document.frm1.t1.value;
		var t2 = document.frm1.t2.value;
		var t3 = document.frm1.t3.value;
		
		
		document.frm1.tel = t1 + t2 + t3;
		var sex = document.frm1.sex.value;
		var email = document.frm1.email.value;
		var age = document.frm1.age.value;

		var regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
		
		/*
		if( !blankCheck(document.frm1.id, "아이디를 입력하세요") || !lengthCheck(document.frm1.id, 4, 12, "아이디는 4~12글자를 입력하세요")){
			return false;
		}
		*/
		
		if (id == "") {
			alert("아이디를 입력하세요");
			document.frm1.id.focus();
			return false;
		}

		if(id.length < 4 || id.length > 12){
			alert("아이디는 4~12글자를 입력하세요");
			document.frm1.id.value = "";
			document.frm1.id.focus();
			return false;
		}
		
		if(pw == "" || pw2 == ""){
			alert("패스워드를 입력하세요");
			if(pw == "")
				document.frm1.pw.focus();
			else
				document.frm1.pw2.focus();
			return false;
		}

		if(pw !== pw2){
			alert("패스워드가 다릅니다");
			document.frm1.pw1.value= "";
			document.frm1.pw2.value= "";
			document.frm1.pw.focus();
			return false;
		}

		if(pw.length < 6 || pw.length > 12){
			alert("패스워드는 6~12글자를 입력하세요");
			document.frm1.pw.value = "";
			document.frm1.pw.focus();
			return false;
		}

		if(name == ""){
			alert("이름을 입력하세요");
			document.frm1.name.focus();
			return false;
		}

		if(name.length <2 || name.length > 10){
			alert("이름은 2~10글자로 입력하세요");
			document.frm1.name.focus();
			return false;
		}

		if( t1 == "" || t2 == "" || t3==""){
			alert("전화번호를 입력하세요");
			if(t1 == "") document.frm1.t1.focus();
			else if(t2 == "") document.frm1.t2.focus();
			else document.frm1.t3.focus();
			return false;
		}

		if(isNaN(telephone)){
			alert("전화번호는 숫자만 입력하세요");
			return false;
		}

		if(t2.length < 3 || t3.length < 3){
			alert("전화번호는 3자리 이상 입력하세요");
			if(t2.length < 3) document.frm1.t2.focus();
			else document.frm1.t3.focus();
			return false;
		}

		if(email == ""){
			alert("이메일을 입력하세요");
			document.frm1.email.focus();
			return false;
		}

		if(email.search(regEmail) == -1){
			alert("올바른 이메일 형식을 입력하세요");
			document.frm1.email.focus();
			return false;
		}
		
		if(age == ""){
			alert("나이를 입력하세요");
			document.frm1.age.focus();
			return false;
		}

		if(isNaN(age)){
			alert("나이는 숫자만 입력하세요");
			return false;
		}

		if(age < 1 || age > 130){
			alert("올바른 나이를 입력하세요");
			document.frm1.age.focus();
			return false;
		}
		
		document.frm1.submit();

    /*
		alert(id + "\n"
			+ pw + "\n"
			+ name + "\n"
			+ telephone + "\n"
			+ sex + "\n"
			+ email + "\n"
			+ age + "\n"
			);
	*/
	
	}

	</script>

</head>
<body>
	<h1>회원 가입</h1>
	<form name="frm1" id="frm1" action="/join" method="post">
		<table border="1" width="500">
			<tr>
				<th>ID</th>
				<td><input type="text" name="id" id="id" maxlength="12" size="20"></td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td><input type="password" name="pw" id="pw" maxlength="12" size="20"></td>
			</tr>
			<tr>
				<th>비밀번호 확인</th>
				<td><input type="password" name="pw2" id="pw2" maxlength="12" size="20"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td><input type="text" name="name" id="name" maxlength="10" size="20"></td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td>
					<input type="hidden" name="tel" id="tel">
					<select name="t1">
						<option value="">전화</option>
						<option value="010">010</option>
						<option value="011">011</option>
						<option value="016">016</option>
						<option value="017">017</option>
						<option value="018">018</option>
						<option value="019">019</option>
					</select>
					-
					<input type="text" name="t2" id="t2" maxlength="4" size="4">
					-
					<input type="text" name="t3" id="t3" maxlength="4" size="4">
				</td>
			</tr>
			<tr>
				<th>성별</th>
				<td><input type="radio" name="sex" checked value="1">남
					<input type="radio" name="sex" value="2">여
				</td>
			</tr>
			<tr>
				<th>E-Mail</th>
				<td><input type="email" name="email" id="email" maxlength="50" size="30">
				</tr>
				<tr>
					<th>나이</th>
					<td><input type="text" name="age" id="age" maxlength="3" size="3"></td>
				</tr>

				<tr>
					<td colspan="2">
						<input type="submit" value="가입" onclick="check()">
						<input type="reset" value="취소">
					</td>
				</tr>
				</table>
				</form>
				
				
			</body>
			</html>