<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action = "/ranking" method="post">
        <table width="400" border="1">
            <tr>
                <th>member(숫자)</th>
                <td><input type="text" name="member" value="1"></td>
            </tr>
            <tr>
                <th>first_name</th>
                <td><input type="text" name="first_name" value="gildong"></td>
            </tr>
            <tr>
                <td>last_name</td>
                <td><input type="text" name="last_name" value="hong"></td>
            </tr>
            <tr>
                <td>score(점수)</td>
                <td><input type="text" name="score" value="100"></td>
            </tr>
            <tr>
                <td colspan="2">
                <input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
  </body>
</html>
