<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8"/>
	<title> <%= title %> </title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1> <%= title %></h1>
    <form action="/join" method="post">
	<table>
		<tr align = "left">
			<th>ID</th>
			<th><input type="text" name="id" size=10 maxlength=12></th>
		</tr>
		<tr align = "left">
			<th>PW</th>
			<th><input type="password" name="pw" size=10 maxlength=12></th>
		</tr>
		<tr align = "left">
			<th>PW2</th>
			<th><input type="password" name="pw2" size=10 maxlength=12></th>
		</tr>
		<tr align = "left">
			<th>이름</th>
			<th><input type="text" name="name" size=10 maxlength=12></th>
		</tr>
		<tr align = "left">
			<th>전화번호</th>
			<th><select name="">
				<option selected>010</option>
				<option>011</option>
				<option>016</option>
				<option>017</option>
			</select>
			- <input type="text" size=2 maxlength=4> - <input type="text" size=2 maxlength=4>
		</th>
	</tr>
	<tr align = "left">
		<th>성별</th>
		<th><input type="radio" name="sex" checked value="male">남
			<input type="radio" name="sex" value="female">여
		</th>
	</tr>
	<tr align = "left">
		<th>E-mail</th>
		<th><input type="text" name="email" size=8 maxlength=12> @ <input type="text" name="email2" size=8 maxlength=12></th>
	</tr>
	<tr align = "left">
		<th>나이</th>
		<th><input type="text" name="age" size=8 maxlength=12></th>
	</tr>
	<tr>
          <td colspan="2">
            <input type="submit" value="쓰기">
            <input type="reset" value="취소">
          </td>
        </tr>

</table>
</form>
</body>
</html>
